.heading {
  text-align: center !important;
  color: white !important;
}
@media screen and (min-width: 625px) and (max-width: 1170px) {
  .SignUp {
    width: 50% !important;
    margin: 50px auto !important;
    font-size: 15px !important;
    padding: 45px !important;
    .signUpBtn,
    .btnGoogle,
    .btnFacebook {
      font-size: 15px !important;
    }
    .textInput {
      padding: 4px !important;
    }
  }
}
@media screen and (min-width: 1170px) and (max-width: 1400px) {
  .SignUp {
    width: 35% !important;
    padding: 45px !important;
  }
}
@media screen and (max-width: 625px) {
  .SignUp {
    width: 70% !important;
    margin: 50px auto !important;
    padding: 30px 45px !important;
    font-size: 13px !important;

    .signUpBtn,
    .btnGoogle,
    .btnFacebook {
      font-size: 13px !important;
    }
    .textInput {
      padding: 4px !important;
    }
    button,
    label {
      font-size: 15px !important;
      margin-top: 10px !important;
    }
    .Or {
      margin-top: 10px !important;
    }
    .error {
      font-size: 13px !important  ;
    }
  }
}
@media screen and (max-width: 370px) {
  .SignUp {
    width: 70% !important;
    padding: 30px 25px !important;
    font-size: 11px !important;

    .signUpBtn,
    .btnGoogle,
    .btnFacebook {
      font-size: 11px !important;
    }
    label {
      font-size: 13px !important;
    }
    .error {
      font-size: 11px !important  ;
    }
  }
}
.SignUp {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 100px auto;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 65px 45px;

  label {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  .Or {
    text-align: center;
    margin: 20px 0 0 0;
    color: #112b5d;
  }
  input,
  select {
    font-size: 1.2em;
    outline: none;
    border: 1px solid #112b5d;
    border-radius: 10px;
    padding: 7px;
  }
  .checkboxInput {
    margin: 0 10px;
    width: 15px;
    height: 15px;
  }
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  button {
    background: #112b5d;
    padding: 10px;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.2em;
    border: none;
    outline: none;
  }

  .btnFacebook {
    background: #3b5998;
    color: #fff;
    transition: all 0.5s;
  }

  .btnFacebook:hover {
    color: #fff;
    opacity: 0.8;
  }

  .btn-delete-account {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
  }
  .btnGoogle {
    background: white;
    color: rgb(106, 106, 106);
    box-shadow: 0 0 3px grey;
    transition: all 0.5s;
  }
  .btnGoogle:hover {
    background: rgb(220, 71, 72);
    color: white;
  }
}
